/* cart css */

.cart-container {
    max-width: 600px;
    margin: 200px;
    padding: 20px;
    background-color: rgba(249, 233, 222, 0.719);
}

.cart-list {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    margin-bottom: 20px;
    background-color: rgba(249, 233, 222, 0.719);
    padding: 10px;
    border-radius: 8px;
}

.cart-item span {
    margin-right: 10px;
}

.cart-item input {
    width: 60px;
}

.cart-item button {
    margin-left: 5px;
    padding: 5px 8px;
    font-size: 0.8em;
    background-color: rgba(159, 182, 195, 1); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* CSS animation for background-color */
}

.cart-item button:hover {
    background-color: #f9b49b; 
}

.checkout-button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: rgba(159, 182, 195, 1); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}

.checkout-button button {
    padding: 8px 16px; 
    background-color: rgba(159, 182, 195, 1); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}

.checkout-button button:hover {
    background-color: #f9b49b; 
}
