/* login css */
body {
  display:inline;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.login-container {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(249, 180, 155, 0.63);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Bodoni MT
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 10px;
  font-family: Bodoni MT;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-button {
  padding: 10px;
  background-color: rgba(159, 182, 195, 0.729);
  color: #3e5172;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Bodoni MT;
}

.login-button:hover {
  background-color: #cc6c5c;
}

.error {
  color: red;
  margin-top: 10px;
}