/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(249, 233, 222, 0.705);
  color: #2C1B14;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0; /* Remove rounded corners */
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  max-width: 800px;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.navbar-item {
  margin-left: 200px;
}

.navbar-item a {
  color: #3e5172;
  text-decoration: none;
}

.navbar-item.products a,
.navbar-item.login a,
.navbar-item.cart a {
  color: #3e5172;
}

button.logout-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #3e5172;
  cursor: pointer;
  font-size: inherit;
}

button.logout-button:focus {
  outline: none;
}

button.logout-button:hover {
  text-decoration: underline;
}