/* product card css */

.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(249, 233, 222, 1); /* Background color */
    text-align: center;
    width: 280px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* CSS animation for transform */
}

.product-card:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.product-card img {
    max-width: 100%;
    max-height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.product-card h3 {
    margin-top: 10px;
    font-size: 1rem;
    color: #3e5172; /* Text color */
}

.product-card p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #3e5172; /* Text color */
}

.product-card button {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: rgba(159, 182, 195, 1); /* Button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease-in-out; /* CSS animation for background-color */
}

.product-card button:hover {
    background-color: #f9b49b; /* Hover background color */
}
