/* product card css */
.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    width: 280px; /* Adjusted width */
    display: inline-block; 
    border-radius: 10px; /* Rounded edges */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}


.product-card img {
    max-width: 100%;
    max-height: 180px; /* Reduced height for the image */
    border-radius: 10px; /* Rounded edges for the image */
    object-fit: cover; /* Ensure image covers the space */
}

.product-card h3 {
    margin-top: 10px;
    font-size: 1rem; /* Reduced font size for title */
}

.product-card p {
    margin-top: 10px; /* Reduced margin for description */
    font-size: 0.9rem; /* Reduced font size for description */
}

.product-card button {
    margin-top: 10px;
    padding: 6px 12px; /* Reduced padding for the button */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px; /* Rounded edges for the button */
    cursor: pointer;
    font-size: 0.9rem; /* Reduced font size for the button */
}

.product-card button:hover {
    background-color: #0056b3;
}
