.sorting-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .sorting-bar select,
  .sorting-bar input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .sorting-bar select {
    width: 150px;
  }
  
  .sorting-bar input[type="number"] {
    width: 100px;
  }
  
  .sorting-bar select:last-child {
    margin-right: 0;
  }
  
  .sorting-bar input[type="number"]:last-child {
    margin-right: 0;
  }
  